/* Back To Top Button start */
#btn-back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    z-index: 10;
}

.D-BackToTop {
    height: 50px;
    width: 50px;
    background-color: var(--colorYellow);
    border-radius: 50%;
    transition: .2s linear;
}

.D-BackToTop:hover {
    background-color: var(--colorBlueMain);
}

.ri-arrow-up-fill {
    color: var(--colorWhite);
    font-size: 18px;
}

/* Back To Top Button end */